@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

html {
  line-height: 1.8;
}

body {
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

@theme {
  --font-logo: "Oswald", sans-serif;
  --font-heading: "Nunito Sans", sans-serif;
  --font-default: "Noto Sans JP", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;

  --color-default: #240305;
  --color-main: #770b11;
  --color-sub: #0094A4;
  --color-accent: #E83817;
  --color-bg: #f6f4f4;

  --default-font-family: var(--font-default);
}

/* TOPローディング */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Skills - スキル一覧 */
.skill-icon {
  width: auto;
  height: 56px;
  margin-inline: auto;
}
.skill-bar {
  width: 100%;
  height: 24px;
  font-size: 13px;
  margin-top: 12px;
  padding-left: 4px;
  border: solid 1px var(--color-default);
  position: relative;
  overflow: hidden;
  color: white;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--color-main), var(--color-accent));
    width: 0;
  }
  span {
    display: block;
    position: relative;
    z-index: 10;
    line-height: 21px;
  }
}
.target.isActive {
  .skill-bar::before {
    animation: skillBar 1.2s ease 0.5s forwards;
  }
  .skill-icon {
    animation: skillIcon 0.7s ease forwards;
  }
}

.level-1::before { --target-width: 20%; }
.level-2::before { --target-width: 40%; }
.level-3::before { --target-width: 60%; }
.level-4::before { --target-width: 80%; }
.level-5::before { --target-width: 100%; }

@keyframes skillBar {
  to { width: var(--target-width); }
}

@keyframes skillIcon {
  to { transform: rotateY(360deg); }
}

/* About - 略歴 */
.timeline {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  /* scroll-snap-type: x proximity; */
  margin: 40px auto 0;
  perspective: 1000px;
}
.timeline-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}
.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* scroll-snap-align: center; */
  flex: 0 0 75%;
  &::before {
    content: "";
    top: 3.5em;
    left: 0;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--color-main);
  }
}
.timeline-date {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 60%;
  height: 2em;
  border-radius: 6px;
  background-color: var(--color-accent);
  color: #fff;
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
  transform: scale(0.8);
  &::before {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--color-accent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: var(--color-accent);
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline-item.active & {
    transform: scale(1);
    opacity: 1;
  }
}
.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 3em 0 2em;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
  transform: scale(0.8);
  .timeline-item.active & {
    transform: scale(1);
    opacity: 1;
  }
}
.timeline-title {
  font-weight: bold;
}
.timeline-text {
  margin-top: 4px;
}
@media (width > 512px) {
  .timeline {
    overflow-x: hidden;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
    height: 500px;
  }
  .timeline-wrapper {
    flex-direction: column;
    padding: 48px 0;
  }
  .timeline-item {
    flex-direction: row;
    flex: 0 0 auto;
    padding: 1em 0;
    &::before {
      top: 0;
      left: 8em;
      width: 4px;
      height: 100%;
    }
  }
  .timeline-date {
    width: 5em;
    &::before {
      top: 50%;
      bottom: auto;
      left: auto;
      right: 0;
      transform: translateX(50%) translateY(-50%) rotate(45deg);
    }
    &::after {
      top: 50%;
      bottom: auto;
      left: 6em;
      transform: translateY(-50%);
    }
  }
  .timeline-content {
    margin: 0 0 0 4em;
    width: calc(100% - 10em);
  }
  .timeline-image {
    flex-shrink: 0;
  }
}
@media (width > 896px) {
  .timeline {
    height: 400px;
  }
  .timeline-content {
    flex-direction: row;
  }
}